<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_06/assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 06
### Note:
- For visualization, you should use Matplotlib, seaborn, or Plotly Express 
- Use this notebook as your template and follow the instructions

The first half of this assignment is similar to assignment 04.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

The links to the zip file is:

- https://collegescorecard.ed.gov/data (This web page contains the link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip (The link to the zip file)

You can run `!wget` command in Colab notebook to retrieve it directly, then run `!unzip` command to extract files (I have provided the cells to do so next for your convenience)

Your folder structure should look like this in your Colab enviroment:

- ...
- 'MERGED1996_97_PP.csv',
- 'MERGED2015_16_PP.csv',
- ...
- 'MERGED2017_18_PP.csv'
- ...

**Note: you should refresh the folder to see all files.**

## Step 1 - Retrieve the zip file

In [1]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip

--2022-10-06 23:50:52--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 3.30.138.208, 160.1.161.208, 2600:1f12:18a:7d01:ad67:f64c:95d6:78ed, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|3.30.138.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 410294884 (391M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_09012022.zip’

CollegeScorecard_Ra 100%[===================>] 391.29M  18.5MB/s    in 23s

2022-10-06 23:51:15 (17.2 MB/s) - ‘CollegeScorecard_Raw_Data_09012022.zip’ saved [410294884/410294884]

## Step 2 - Unzip the zip file

In [2]:
!unzip CollegeScorecard_Raw_Data_09012022.zip

Archive:  CollegeScorecard_Raw_Data_09012022.zip
 extracting: Crosswalks.zip
  inflating: data.yaml
  inflating: FieldOfStudyData1415_1516_PP.csv
  inflating: FieldOfStudyData1516_1617_PP.csv
  inflating: FieldOfStudyData1617_1718_PP.csv
  inflating: FieldOfStudyData1718_1819_PP.csv
  inflating: MERGED1996_97_PP.csv
  inflating: MERGED1997_98_PP.csv
  inflating: MERGED1998_99_PP.csv
  inflating: MERGED1999_00_PP.csv
  inflating: MERGED2000_01_PP.csv
  inflating: MERGED2001_02_PP.csv
  inflating: MERGED2002_03_PP.csv
  inflating: MERGED2003_04_PP.csv
  inflating: MERGED2004_05_PP.csv
  inflating: MERGED2005_06_PP.csv
  inflating: MERGED2006_07_PP.csv
  inflating: MERGED2007_08_PP.csv
  inflating: MERGED2008_09_PP.csv
  inflating: MERGED2009_10_PP.csv
  inflating: MERGED2010_11_PP.csv
  inflating: MERGED2011_12_PP.csv
  inflating: MERGED2012_13_PP.csv
  inflating: MERGED2013_14_PP.csv
  inflating: MERGED2014_15_PP.csv
  inflating: MERGED2015_16_PP.csv
  inflating: MERGED2016_17_PP.csv
  inflating: MERGED2017_18_PP.csv
  inflating: MERGED2018_19_PP.csv
  inflating: MERGED2019_20_PP.csv
  inflating: MERGED2020_21_PP.csv
  inflating: Most-Recent-Cohorts-Field-of-Study.csv
  inflating: Most-Recent-Cohorts-Institution.csv

## Step 3 - Import Libraries

In [36]:
#(Write code below)
import pandas as pd
import os

In [35]:
# not preferred
df_1996 = pd.read_csv("/content/MERGED1996_97_PP.csv", usecols=["UNITID", "INSTNM", "TUITIONFEE_IN"])
df_1996["YEAR"] = 1996
df_1997 = pd.read_csv("/content/MERGED1997_98_PP.csv", usecols=["UNITID", "INSTNM", "TUITIONFEE_IN"])
df_1997["YEAR"] = 1997
# ... every other year
# df_all = pd.concat([df_1996, df_1997,...])
df_all = pd.concat([df_1996, df_1997])
df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,YEAR
3089,190071,Cochran School of Nursing,NaN,1997
5496,242583,Instituto Tecnologico de Puerto Rico-Recinto d...,NaN,1996
6957,423397,Advantage Technical College,NaN,1996
5054,230597,Snow College,NaN,1996
1915,157483,West Kentucky Community and Technical College,NaN,1996
5735,262332,Le Cordon Bleu College of Culinary Arts-Scotts...,NaN,1996
6057,386472,Herzing University-Orlando,NaN,1997
256,108861,Berkeley School of Theology,NaN,1997
3312,195289,Samaritan Hospital School of Nursing,NaN,1997
6588,419253,Illinois Media School,NaN,1997

## Step 4 - Display the current working directory using os.getcwd()

You would need to import a standard Python library called os which stands for operating system. so place that import statement in the previous cell. Since your notebook and your data files may or may not in the same folder, you want to make sure what the current working folder is and how to access a data file in a different folder.

In [40]:
#(Write code below)
os.getcwd()

'/content'

## Step 5 - Get the list of file names

os library has a method call listdir which generates a list of files in a directory/folder. Use this method to assign the contents (list of file names) of the data folder to a variable and display it. If necessary, you can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [50]:
#(Write code below)
name_list = os.listdir()
name_list

['.config',
 'MERGED2014_15_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2004_05_PP.csv',
 'Most-Recent-Cohorts-Institution.csv',
 'MERGED2000_01_PP.csv',
 'FieldOfStudyData1617_1718_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2018_19_PP.csv',
 'data.yaml',
 'MERGED2007_08_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED2008_09_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2002_03_PP.csv',
 'FieldOfStudyData1718_1819_PP.csv',
 'MERGED2013_14_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip',
 'MERGED2011_12_PP.csv',
 'MERGED2020_21_PP.csv',
 'Crosswalks.zip',
 'MERGED2009_10_PP.csv',
 'MERGED1997_98_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2001_02_PP.csv',
 'sample_data']

## Step 6 - Process only the yearly data files

The folder contains files that are not the yearly data files. Write code to remove the unwanted files from the list variable.

Note: don't remove/delete these files from the folder in the folder.
For example, use the file extension to only use the csv files or use the name patter - data file name begins with "MERGED". You can use the concept of list comprehension to write just *one* line of code as well as using a for loop, your choice.

In [43]:
#(Write code below)
# for loop 
x = [1, 3, 6, 8]
y = []
for num in x:
    y.append(num**2)
y

[1, 9, 36, 64]

In [49]:
# for loop 
x = [1, 3, 6, 8]
y = []
for num in x:
    if num % 2 == 0:
        y.append(num**2)
y

[36, 64]

In [47]:
# List comprehension - better
y = [num**2 for num in x]
y

[1, 9, 36, 64]

In [48]:
# List comprehension - better
y = [num**2 for num in x if num % 2 == 0]
y

[36, 64]

In [53]:
yearly_list = [file_name for file_name in name_list if file_name.startswith("MERGED")]
yearly_list

['MERGED2014_15_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2020_21_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2001_02_PP.csv']

## Step 7 - Load data files
 
Now that you have a clean list of the yearly files, you want to loop through them and read them into a dataframe one at a time. You only load six columns: ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].

You should use "usecols" option of Pandas to avoid reading unwanted columns. You also want to add a new column call "YEAR" to differentiate the data frames from each other. The YEAR variable should be yyyy format so tht you can convert them into integer. If you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer. If you use scatter plot, the YEAR needs to be converted to integer or float. 

You would use an empty list and append the yearly dataframes to the list. After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a new single data frame.

Note: this exercise incorporates many techques we learned before:

- list (creating an empty, append an item to the list)
- for loop 
- read only the needed columns from a file (using usecols option)
- add a new column to a data frame
- concatenate multiple dataframes into a single one

This exercise may appear challenging but it worths the effort. You will learn a lot and love it. I promise.

In [75]:
#(Write code here)
yearly_list.sort()

print("processing file", yearly_list[0])
df_all = pd.read_csv("/content/" + yearly_list[0], usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_all["YEAR"] = yearly_list[0][6:10]
print(df_all.shape)

for yearly_file in yearly_list[1:]:
    print("processing file", yearly_file)
    df = pd.read_csv("/content/" + yearly_file, usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
    df["YEAR"] = yearly_file[6:10]
    df_all = df_all.append(df, ignore_index = True)
    print(df_all.shape)

processing file MERGED1996_97_PP.csv
(7007, 4)
processing file MERGED1997_98_PP.csv
(13941, 4)
processing file MERGED1998_99_PP.csv
(20643, 4)
processing file MERGED1999_00_PP.csv
(27252, 4)
processing file MERGED2000_01_PP.csv
(33906, 4)
processing file MERGED2001_02_PP.csv
(40631, 4)
processing file MERGED2002_03_PP.csv
(47283, 4)
processing file MERGED2003_04_PP.csv
(53956, 4)
processing file MERGED2004_05_PP.csv
(60703, 4)
processing file MERGED2005_06_PP.csv
(67602, 4)
processing file MERGED2006_07_PP.csv
(74553, 4)
processing file MERGED2007_08_PP.csv
(81524, 4)
processing file MERGED2008_09_PP.csv
(88579, 4)
processing file MERGED2009_10_PP.csv
(95796, 4)
processing file MERGED2010_11_PP.csv
(103266, 4)
processing file MERGED2011_12_PP.csv
(111012, 4)
processing file MERGED2012_13_PP.csv
(118874, 4)
processing file MERGED2013_14_PP.csv
(126743, 4)
processing file MERGED2014_15_PP.csv
(134509, 4)
processing file MERGED2015_16_PP.csv
(142175, 4)
processing file MERGED2016_17_PP.csv
(149413, 4)
processing file MERGED2017_18_PP.csv
(156525, 4)
processing file MERGED2018_19_PP.csv
(163332, 4)
processing file MERGED2019_20_PP.csv
(170026, 4)
processing file MERGED2020_21_PP.csv
(176707, 4)

In [78]:
df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,YEAR
110827,17501401,Rasmussen University-Bloomington,14260.0,2011
35213,147703,Northern Illinois University,4814.0,2001
17803,210483,Keystone Technical Institute,NaN,1998
114206,207740,Seminole State College,3330.0,2012
28175,135416,Manhattan Hairstyling Academy,NaN,2000
162825,492069,Champion Christian College,5240.0,2018
72162,240240,Paul Mitchell the School-Green Bay,NaN,2006
92036,212090,Everest Institute-Pittsburgh,36738.0,2009
78957,237118,Alderson Broaddus University,20030.0,2007
3201,189282,Phillips School of Nursing at Mount Sinai Beth...,NaN,1996

## Step 8 - Explore the new dataframe 

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc.

In [8]:
#(Write code here)

## Step 9 - UMBC 

The dataframe contains many years of data of all U.S. colleges. let's just look at UMBC. Filter/query the dataframe to retrieve only rows that belong to UMBC (one row represent one year). Save the UMNC data to a new data frame. using a new variable for the UMBC data frame, so that the old big data frame is still available for later use.

In [79]:
#(Write code here)
df_all[df_all["INSTNM"].str.contains("-Baltimore County")]

        UNITID                                   INSTNM  TUITIONFEE_IN  YEAR
2151    163268  University of Maryland-Baltimore County            NaN  1996
9056    163268  University of Maryland-Baltimore County            NaN  1997
15923   163268  University of Maryland-Baltimore County            NaN  1998
22598   163268  University of Maryland-Baltimore County            NaN  1999
29178   163268  University of Maryland-Baltimore County         5490.0  2000
35821   163268  University of Maryland-Baltimore County         5910.0  2001
42524   163268  University of Maryland-Baltimore County         6362.0  2002
49156   163268  University of Maryland-Baltimore County         7388.0  2003
55786   163268  University of Maryland-Baltimore County         8020.0  2004
62522   163268  University of Maryland-Baltimore County         8520.0  2005
69401   163268  University of Maryland-Baltimore County         8622.0  2006
76332   163268  University of Maryland-Baltimore County         8708.0  2007
83291   163268  University of Maryland-Baltimore County         8780.0  2008
90324   163268  University of Maryland-Baltimore County         8872.0  2009
97506   163268  University of Maryland-Baltimore County         9171.0  2010
104960  163268  University of Maryland-Baltimore County         9467.0  2011
112672  163268  University of Maryland-Baltimore County         9764.0  2012
120503  163268  University of Maryland-Baltimore County        10068.0  2013
128353  163268  University of Maryland-Baltimore County        10384.0  2014
136064  163268  University of Maryland-Baltimore County        11006.0  2015
143685  163268  University of Maryland-Baltimore County        11264.0  2016
150891  163268  University of Maryland-Baltimore County        11518.0  2017
157940  163268  University of Maryland-Baltimore County        11778.0  2018
164723  163268  University of Maryland-Baltimore County        12028.0  2019
171401  163268  University of Maryland-Baltimore County         9420.0  2020

## Step 10 - Explore the new dataframe

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc

In [10]:
#(Write code here)

## Step 11 - Plot UMBC's in-state tution overtime Bar Chart

In [11]:
#(Write code here)

## Step 12 - Plot UMBC's in-state tution overtime using line Chart

In [12]:
#(Write code here)

## Step 13 - Tuition Growth Rate

Now let's look at the tuition growth rate year over year. We need to calculate UMBC tuition change percentage each year. First convert the TUITIONFEE_IN column to a Python List

In [13]:
#(Write code here)

## Step 14 - Loop through the list and calculate the % change each year over the prior year

This takes some effort. Not hard, just some abstract/logical thinking and some experiments. Have fun on this one.

In [14]:
 #(Write code here)

## Step 15 - Round up the percentage to two decimal points

The resulting number has many decimal points which are unnecessary and not visually appealing. You can use for loop. Or better, use list comprehension for simplicity/brevity.

In [15]:
#(Write code here)

## Step 16 - Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")

Not as hard as you may think. If you get stuck, you think too hard. Google it and you will find the answer.

In [16]:
#(Write code here)

## Step 17 - Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [17]:
# (write code here)

## Step 18 - Define Growth Rate Function

Since we want to do the same calculation for JHU. Instead of doing it piecemeal as we did for UMBC. Let's create a function which can be reused for any college. This function takes a list of tuitions and return a list of percentage changes year over year. This function can be used later.

In [18]:
#(Write code here)

## Step 19 - Get JHU Data

The dataframe contains many years of data of all U.S. colleges. Let's just look at JHU. Filter/query the dataframe to retrieve only rows that belong to JHU. Save the JHU data to a new data frame using a new variable so that the old big data frame is still available for later use.

In [19]:
#(Write code here)

## Step 20 - Plot JHU's in-state tuition overtime

Let's plot bar and then line chart.

In [20]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)

## Step 21 - Calculate Tuition Growth Rate using the Function defined earlier

In [21]:
# Write code here

## Step 22 - Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [22]:
#(Write code here)

## Step 23 - Plot the JHU percentage changes tuitions over time

Bar plot first, then line plot.

In [23]:
#(Write code here)

## Step 24 - Compare UMBC and JHU 

In order to plot both UMBC and JHU tuition change over time in the same plot, we need to combine the two datasets using the common key of YEAR. 

First make a umbc2 dataframe with only two columns needed. We don't need other columns. Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge. This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE", we rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully, Feel free to try it without changing the column names.

In [24]:
#(Write code here)

## Step 25 

Then make a jhu2 dataframe with only two columns needed. WE don't need other columns. Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [25]:
#(Write code here)

## Step 26 - Merger the two data frames and display the new dataframe

In [26]:
#(Write code here)

## Step 27 - Plot UMBC and JHU separately on the same line plot

In [27]:
#(Write code here)

## Step 28 - Document your observation of the comparison plots using the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [28]:
# The end.