<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_08/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 08

- Dave Sadovy
- 10/23/2022

1. Use Pandas to read the file census_costs.txt.
2. Find out how many rows and columns it has.
3. Display first 10, last 10, and random 10 rows.
4. Find out the data types of all columns - use `info()` function.
5. Find out the summary statistics of all columns.
6. Cleanse the data to make the year, population, cost, cost per person numerical type. 
    - Code functions to cleanse the columns. One function for one column.
    - Use `apply()` method of data frame to apply the functions to the columns for data cleansing.
7. Find out the summary statistics of the numerical columns - use `describe()` function.
8. Use Plotly to plot the average cost per person over time.
9. Use Plotly to plot the scatter plot of Total Population vs Total Cost.

## Step 0 - Import required libraries.

In [1]:
import pandas as pd
import plotly.express as px

## Step 1 - Use Pandas to read the file census_costs.txt.

In [2]:
DATA_SOURCE = "https://raw.githubusercontent.com/davidsadovy/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"

df = pd.read_csv(DATA_SOURCE, skiprows=1, sep="\t")

df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

## Step 2 - Find out how many rows and columns it has.

In [3]:
df.shape

(23, 4)

The file census_costs.txt is 23 rows by 4 columns.

## Step 3 - Display first 10, last 10, and random 10 rows.

In [4]:
df.head(10)     # first 10 rows

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [5]:
df.tail(10)     # last 10 rows

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [6]:
df.sample(10)       # random 10 rows

   Census Year Total Population     Census Cost Average Cost Per Person
20        1990      248,718,301  $2,492,830,000                  $10.02
10        1890       62,979,766     $11,547,127             18.33 cents
22       2010*      308,745,538     $13 Billion                  $42.11
15        1940      131,669,275     $67,527,000             51.29 cents
19        1980      226,542,199  $1,078,488,000                   $4.76
12        1910       91,972,266     $15,968,000             17.07 cents
17        1960      179,323,175    $127,934,000             71.34 cents
16        1950      151,325,798     $91,462,000             60.44 cents
0         1790        3,929,214         $44,377              1.13 cents
8         1870       38,558,371      $3,421,198              8.87 cents

## Step 4 - Find out the data types of all columns - use `info()` function.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

Each column is of data type object.

## Step 5 - Find out the summary statistics of all columns.

In [8]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

The summary statistics provided by `.describe()` are not particularly useful since the data is not numeric.

## Step 6 - Cleanse the data to make the year, population, cost, cost per person numerical type.
- Code functions to cleanse the columns. One function for one column.
- Use `apply()` method of data frame to apply the functions to the columns for data cleansing.

In [9]:
# function to cleanse 1st column

def cleanse_year(a_string):
    '''Converts a string of numbers that may contain asterisks into an integer'''
    return int(a_string.replace("*", ""))

In [10]:
# function to cleanse 2nd column

def cleanse_pop(a_string):
    '''Converts a string of numbers that may contain commas into an integer'''
    return int(a_string.replace(",", ""))

In [11]:
# function to cleanse 3rd column

def cleanse_cost(a_string):
    '''Converts a string of numbers that may contain dollar signs, commas, 
       and/or the word "Billion" into an integer'''
    new_string = a_string.replace("$", "").replace(",", "")
    if new_string.endswith("Billion"):
        return int(float(new_string.split(" ")[0]) * 10**9)
    else:
        return int(new_string)

In [12]:
# function to cleanse 4th column

def cleanse_acpp(a_string):
    '''Converts a string of numbers that may contain dollar signs 
       and/or the word "cents" into an integer'''
    new_string = a_string.replace("$", "")
    if new_string.endswith("cents"):
        return float(new_string.split(" ")[0])/100
    else:
        return float(new_string)

In [13]:
# apply() method used to call functions to cleanse data
# cleansed data added to new data frame

df_cleansed = df
df_cleansed["Census Year"] = df["Census Year"].apply(cleanse_year)
df_cleansed["Total Population"] = df["Total Population"].apply(cleanse_pop)
df_cleansed["Census Cost"] = df["Census Cost"].apply(cleanse_cost)
df_cleansed["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_acpp)
df_cleansed

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100

## Step 7 - Find out the summary statistics of the numerical columns - use `describe()` function.

In [15]:
df_cleansed.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

Now that the data is numeric instead of string, the summary statistics are meaningful!

## Step 8 - Use Plotly to plot the average cost per person over time.

In [16]:
fig = px.bar(
    df_cleansed, 
    x="Census Year", 
    y="Average Cost Per Person", 
    title="Average Cost Per Person of the US Census in Dollars <br><sup> 1790-2010</sup>", 
    color="Census Cost", 
    template="presentation"
    )

fig.show()

- Note that for the first 150 years or so of the graph, the cost appears to be nearly zero.  
- Early values are overwhelmed by the more recent values.
- Let's try a logarithmic scale on the vertical axis.

In [17]:
fig = px.bar(
    df_cleansed, 
    x="Census Year", 
    y="Average Cost Per Person", 
    title="Average Cost Per Person of the US Census in Dollars <br><sup> LOGARITHMIC SCALE, 1790-2010</sup>", 
    color="Census Cost", 
    template="presentation"
    )

# converts vertical axis to log scale
fig.update_layout(yaxis_type="log")

fig.show()

- The log scale allows us to better see the values of the vertical axis.
- The overall shape of the graph may be misleading.

## Step 9 - Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [18]:
fig = px.scatter(
    df_cleansed, 
    x="Total Population",
    y="Census Cost", 
    title="US Census - Population vs Cost in Dollars <br><sup> 1790-2010</sup>",  
    color="Average Cost Per Person",
    template="presentation"
    )

fig.show()

- Note that for the years when the population was less than about 200 million, the cost appears to be nearly zero.  
- Early values are overwhelmed by the more recent values.
- Let's try a logarithmic scale on the vertical axis.

In [19]:
fig = px.scatter(
    df_cleansed, 
    x="Total Population",
    y="Census Cost", 
    title="US Census - Population vs Cost in Dollars <br><sup> LOGARITHMIC SCALE, 1790-2010</sup>",  
    color="Average Cost Per Person",
    template="presentation"
    )

# converts vertical axis to log scale
fig.update_layout(yaxis_type="log")

fig.show()

- The log scale allows us to better see the values of the vertical axis.
- The overall shape of the graph may be misleading.

## Additional Study - Include 2020 Census Data.
- Since 2020 data is available, I was curious how it would compare to previous years.
- Using 2020 data from the same source, I created a two-line text file with just column headers and 2020 data.
- Source: https://www.genealogybranches.com/censuscosts.html

### Read in and examine local 2020_census_costs.txt file.

In [20]:
df2 = pd.read_csv("/content/2020_census_costs.txt", sep="\t")

df2

  Census Year Total Population    Census Cost Average Cost Per Person
0      2020**      331,449,281  $14.2 Billion                  $42.84

### Cleanse data as above.

In [21]:
# apply() method used to call functions to cleanse data
# cleansed data added to new data frame

df_cleansed2 = df2
df_cleansed2["Census Year"] = df2["Census Year"].apply(cleanse_year)
df_cleansed2["Total Population"] = df2["Total Population"].apply(cleanse_pop)
df_cleansed2["Census Cost"] = df2["Census Cost"].apply(cleanse_cost)
df_cleansed2["Average Cost Per Person"] = df2["Average Cost Per Person"].apply(cleanse_acpp)
df_cleansed2

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         2020         331449281  14200000000                    42.84

### Append 2020 data row to main data frame.

In [22]:
df_cleansed = df_cleansed.append(df_cleansed2, ignore_index=True)

df_cleansed

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100
23         2020         331449281  14200000000                  42.8400

### Explore the average cost per person over time.

In [24]:
fig = px.bar(
    df_cleansed, 
    x="Census Year", 
    y="Average Cost Per Person", 
    title="Average Cost Per Person of the US Census in Dollars <br><sup> 1790-2020</sup>", 
    color="Census Cost", 
    template="presentation"
    )

fig.show()

In [27]:
fig = px.bar(
    df_cleansed, 
    x="Census Year", 
    y="Average Cost Per Person", 
    title="Average Cost Per Person of the US Census in Dollars <br><sup> LOGARITHMIC SCALE, 1790-2010</sup>", 
    color="Census Cost", 
    template="presentation"
    )

# converts vertical axis to log scale
fig.update_layout(yaxis_type="log")

fig.show()

### Explore the population vs cost over time.

In [26]:
fig = px.scatter(
    df_cleansed, 
    x="Total Population",
    y="Census Cost", 
    title="US Census - Population vs Cost in Dollars <br><sup> 1790-2020</sup>",  
    color="Average Cost Per Person",
    template="presentation"
    )

fig.show()

In [28]:
fig = px.scatter(
    df_cleansed, 
    x="Total Population",
    y="Census Cost", 
    title="US Census - Population vs Cost in Dollars <br><sup> LOGARITHMIC SCALE, 1790-2010</sup>",  
    color="Average Cost Per Person",
    template="presentation"
    )

# converts vertical axis to log scale
fig.update_layout(yaxis_type="log")

fig.show()

Pretty interesting result!  

Compared to the rapid increases in costs that occurred every decade until 2010, the 2020 cost increase is relatively modest.  I can't help but wonder if the COVID-19 pandemic played a role.  Another possibility is that the US Census Bureau is now able to leverage technology to conduct the census in a more cost-efficient manner.