<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_02/data690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # DATA 690 Session 02
 - Date: 09/08/2022
 - Name: Dave Sadovy

In [31]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

Birth Years of Students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [32]:
type(True)

bool

In [33]:
years_list = years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [34]:
x = ["Jay", "James", "Jayson", "Libin"]
type(x)

list

In [35]:
y = [2.4, 12, -7, 11, 6]

type(y)

list

In [36]:
total = 0
for number in y:
    total += number

print("Sum of y =", total)

print("The size of the list is", len(y))

print("The average of y is", total/len(y))

Sum of y = 24.4
The size of the list is 5
The average of y is 4.88

In [37]:
years_list[0]

'1/11/1997'

In [38]:
years_list[2]

'2000'

In [39]:
abandoned = years_list.pop(0)
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [40]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total += age

print("total age is", total)

2022
total age is 578

In [41]:
average_age = total / len(years_list)

print("average age =", average_age)

average age = 26.272727272727273