<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_02/data690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # DATA 690 Session 02
 - Date: 09/08/2022
 - Name: Dave Sadovy

In [31]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

Birth Years of Students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [32]:
type(True)

bool

In [33]:
years_list = years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [34]:
x = ["Jay", "James", "Jayson", "Libin"]
type(x)

list

In [35]:
y = [2.4, 12, -7, 11, 6]

type(y)

list

In [36]:
total = 0
for number in y:
    total += number

print("Sum of y =", total)

print("The size of the list is", len(y))

print("The average of y is", total/len(y))

Sum of y = 24.4
The size of the list is 5
The average of y is 4.88

In [37]:
years_list[0]

'1/11/1997'

In [38]:
years_list[2]

'2000'

## Approach 01 - Drop problem data element

In [39]:
abandoned = years_list.pop(0)
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [40]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total += age

print("total age is", total)

2022
total age is 578

In [41]:
average_age = total / len(years_list)

print("average age =", average_age)

average age = 26.272727272727273

## Approach 02 - fix data problem

In [42]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

Birth Years of Students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [43]:
years_list = years.split()
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [45]:
years_list[0] = "1997"
print(years_list)

['1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [47]:
x = "I don't like to write papers."
y = 'I prefer double quote""'
y

'I prefer double quote""'

In [48]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total += age

print("total age is", total)

2022
total age is 603

In [49]:
average_age = total / len(years_list)

print("average age =", average_age)

average age = 26.217391304347824

# Approach 03 - Handle Exception

We don't fix the data issue.

In [73]:
# Prepare Data for calculation

years = "1/11/1997 1991 2000xx 1969 1999er 1998 1993 1906 1999 2015 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth Years of Students", years)

years_list = years.split()
print(years_list)

Birth Years of Students 1/11/1997 1991 2000xx 1969 1999er 1998 1993 1906 1999 2015 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000
['1/11/1997', '1991', '2000xx', '1969', '1999er', '1998', '1993', '1906', '1999', '2015', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [74]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
count = 0
for birth_year in years_list:
    
    try:
        year_int = int(birth_year)
    except:
        continue

    age = current_year - year_int

    if age > 80:
        print("skipping this person, age > 80:", age)
        continue
    elif age < 10:
        print("skipping this kid:", age)
        continue

    total += age
    count += 1

print("total age is", total)
print("number of students is", count)

2022
skipping this person, age > 80: 116
skipping this kid: 7
total age is 482
number of students is 18

In [75]:
average_age = total / count

print("average age =", average_age)

average age = 26.77777777777778

## Miscellaneous

In [1]:
count = 0
while True:

    if count == 3:
        break

    try:
        x = int(input("Enter an integer:"))
        count += 1
    except:
        print("You need to enter and integer.  Please try again.")

Enter an integer:1
Enter an integer:a
You need to enter and integer.  Please try again.
Enter an integer:2
Enter an integer:l
You need to enter and integer.  Please try again.
Enter an integer:3

In [2]:
x

3